Repository r4ai/templates: changes, and which lefthook commands are due for each by the changed paths.
All: biome, check-lockfile

biome:
  stage_fixed: true
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}

check-lockfile:
  run: bun install --frozen-lockfile

chore: lefthook
  .gitignore
  biome.json
  bun.lockb
  lefthook.yml
  package.json
  packages/create-project/biome.json
  templates/bun-npm-package/biome.json
  templates/bun-npm-package/bun.lockb
  templates/bun-npm-package/lefhook.yml
  templates/bun-npm-package/package.json
  templates/bun-npm-package/packages/{{REPOSITORY_NAME}}/biome.json
  templates/bun-npm-package/packages/{{REPOSITORY_NAME}}/package.json
  templates/bun-npm-package/tsconfig.json
  templates/bun-npm-package/turbo.json
  tsconfig.json
  turbo.json
Due: biome, check-lockfile

chore: lefthook
  lefthook.yml
Due: none

fix typo
  templates/bun-npm-package/lefkhook.yml
Due: none

chore: fix typo in lefthook file name
  templates/bun-npm-package/lefthook.yml
Due: none

chore: fix turbo to sucecss build command
  bun.lockb
  package.json
  templates/bun-npm-package/package.json
  templates/bun-npm-package/turbo.json
  templates/slidev/index.html
Due: biome, check-lockfile

chore: fix build command
  .github/workflows/ci.yml
  .vscode/settings.json
  biome.json
  bun.lockb
  lefthook.yml
  package.json
  packages/create-project/biome.json
  packages/create-project/package.json
  templates/bun-npm-package/lefkhook.yml
  turbo.json
Due: biome, check-lockfile

chore: fix lefthook file name
  templates/bun-npm-package/lefthook.yml
Due: none

chore: fix biome
  lefthook.yml
  templates/bun-npm-package/biome.json
  templates/bun-npm-package/package.json
  templates/bun-npm-package/packages/{{REPOSITORY_NAME}}/biome.json
  templates/bun-npm-package/packages/{{REPOSITORY_NAME}}/package.json
  templates/bun-npm-package/turbo.json
Due: biome, check-lockfile

chore: add fake `check:ci` script
  templates/slidev/package.json
Due: biome, check-lockfile

chore: add `.tool-versions` in slidev
  templates/slidev/.tool-versions
Due: none

chore: add fake `test` script
  templates/slidev/package.json
Due: biome, check-lockfile

chore: remove index.html
  templates/slidev/index.html
Due: none

chore: fix renovate config
  renovate.json
Due: biome

chore: fix ci for renovate
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: biome

update bun-npm-packages
  bun.lockb
  templates/bun-npm-package/.gitignore
  templates/bun-npm-package/LICENSE
  templates/bun-npm-package/bun.lockb
  templates/bun-npm-package/package.json
  templates/bun-npm-package/packages/{{REPOSITORY_NAME}}/package.json
  templates/bun-npm-package/packages/{{REPOSITORY_NAME}}/tsconfig.build.json
  templates/bun-npm-package/renovate.json
  templates/bun-npm-package/turbo.json
Due: biome, check-lockfile

chore: improve ci
  templates/bun-npm-package/.github/workflows/cd.yml
  templates/bun-npm-package/.github/workflows/ci.yml
  templates/bun-npm-package/.github/workflows/release.yml
Due: none

fix: remove prepare command
  templates/bun-npm-package/package.json
Due: biome, check-lockfile

chore: fix lockfile
  templates/bun-npm-package/bun.lockb
Due: none

fix: don't run `lefthook install` in prepare script (#36)
  templates/bun-npm-package/bun.lockb
  templates/bun-npm-package/package.json
Due: biome, check-lockfile

Path conditions:
  biome: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  check-lockfile: any of: **/package.json
